@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-concrete: #f4f4f4;
  --color-obsidian: #0a0a0a;
  --color-brick-active: #ff4500;
  --font-heading: "Inter", sans-serif; /* Use a bold, heavy font */
}

body {
  background-color: var(--color-obsidian);
  color: white;
  -webkit-font-smoothing: antialiased;
}